{% extends "base.html"%}
{% load static %}



                {% for n in abt %}
                {% if forloop.counter == 1 %}
{% block title %} {{n.name}} {% endblock title %}
{% endif %}
                {% endfor %}
   {% block meta %}
                {% for k in abt %}
                {% if forloop.counter == 1 %}
   <!-- Primary Meta Tags -->
<meta name="title" content="{{k.name}}">
<meta name="description" content="{{ k.short }}">
<meta name="image" content="{{ k.img.url }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:title" content="{{k.name}}">
<meta property="og:description" content="{{ k.short }}">
<meta property="og:image" content="{{ k.img.url }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:title" content="{{k.name}}">
<meta property="twitter:description" content="{{ k.short }}">
<meta property="twitter:image" content="{{ k.img.url }}">
{% endif %}
                {% endfor %}

    {% endblock meta %}


	
    {% block schema %}


	<script type="application/ld+json">
[
	                {% for j in abt %}
                {% if forloop.counter == 1 %}
{
"@context": "https://schema.org",
"@type": "Event",
"name": "{{j.name}}",
"description": "{{ j.short }}",
"image": "{{ j.img.url }}",
"location": {
"@type": "website",
},
                {% endif %}
                {% endfor %}
]
</script>



    {% endblock schema %}


{% block body %}
	<!--Sidebar Page Container-->
	<!-- Page Title -->
    <section class="page-title">
        <div class="auto-container">
			<h1>About Details</h1>
			

        </div>
    </section>
    <!--End Page Title-->
	<br>
    <div class="sidebar-page-container">
	
    	<div class="auto-container">
        	<div class="row clearfix">
				
				<!-- Sidebar Side -->
                <div class="sidebar-side style-two blog-sidebar col-lg-3 col-md-12 col-sm-12">

				</div>
				
				<!-- Content Side -->
                {% for i in abt %}
                {% if forloop.counter == 1 %}
                <div class="content-side blog-detail-column col-lg-9 col-md-12 col-sm-12">
                	<div class="blog-detail">
						<div class="inner-box">
							<h2>{{ i.name }} <br> developers</h2>
				
							<div class="image">
								<img src="{{ i.img.url }}" alt="" />
							</div>
							<h4>{{ i.short }}</h4>
							<p>{{ i.desc | safe }}</p>
						

						</div>


						
					</div>
					
				</div>
                {% endif %}
                {% endfor %}


				
			</div>
			
		</div>
	</div>

{% endblock %}
