
{% extends 'base.html' %}
{% load static %}

{% block body %}
<!-- Page Title -->
    <section class="page-title">
        <div class="auto-container">
			<h1>Register</h1>
			
			<!-- Search Boxed -->
			<div class="search-boxed">
				<div class="search-box">

				</div>
			</div>
			
        </div>
    </section>
    <!--End Page Title-->
	

	<!-- Register Section -->
	<section class="register-section">
		<div class="auto-container">
			<div class="register-box">
				
				<!-- Title Box -->
				<div class="title-box">
					<h2>Register</h2>
					<div class="text"><span class="theme_color">Welcome!</span> Please confirm that you are visiting</div>
				</div>
			{% if messages %}
              {% for message in messages %}

              <div class="alert alert-info">
                {{ message }}
                </div>
               {% endfor %}
              {% endif %}

				<!-- Login Form -->
				<div class="styled-form">
					<form method="post" action="" enctype="multipart/form-data">

						{% csrf_token %}
						<div class="row clearfix">
							
							<!-- Form Group -->
							<div class="form-group col-lg-6 col-md-12 col-sm-12">
								<label>First Name</label>
								<input type="text" name="first_name" value="" placeholder="First Name" required>
							</div>
							
							<!-- Form Group -->
							<div class="form-group col-lg-6 col-md-12 col-sm-12">
								<label>Last Name</label>
								<input type="text" name="last_name" value="" placeholder="Last Name" required>
							</div>
							
							<!-- Form Group -->
							<div class="form-group col-lg-6 col-md-12 col-sm-12">
								<label>Email Address</label>
								<input type="email" name="email" value="" placeholder="abcd@gmail.com" required>
							</div>
							
							<!-- Form Group -->
							<div class="form-group col-lg-6 col-md-12 col-sm-12">
								<label>Phone Number</label>
								<input type="text" name="mobile" value="" placeholder="800 123-4567" required>
							</div>
							
							<!-- Form Group -->
							<div class="form-group col-lg-6 col-md-12 col-sm-12">
								<label>User name</label>
								<input type="text" name="username" value="" placeholder="User Name" required>
							</div>
							
							<!-- Form Group -->
							<div class="form-group col-lg-6 col-md-12 col-sm-12">
								<label>Password</label>
								<input type="password" name="password" value="" placeholder="Password" required>
							</div>

							<div class="form-group col-lg-12 col-md-12 col-sm-12 text-center">
								<button type="input" class="theme-btn btn-style-three"><span class="txt">Sign Up <i class="fa fa-angle-right"></i></span></button>
							</div>
							
							<div class="form-group col-lg-12 col-md-12 col-sm-12">
								<div class="users">Already have an account? <a href="{% url 'login' %}">Sign In</a></div>
							</div>
							
						</div>



						
					</form>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Login Section -->
	

	<!-- End Call To Action Section Two -->
    {% endblock %}