	{% extends "base.html" %}
    {% load static %}
{% block body %}


	<!-- Page Title -->
    <section class="page-title style-two">
        <div class="auto-container">
			<h1>Not Found</h1>
        </div>
    </section>
    <!--End Page Title-->
	
	<!--Error Section-->
    <section class="error-section">
    	<div class="auto-container">
        	<div class="content">
            	<div class="image">
					<img src="https://via.placeholder.com/1077x675" alt= "" />
				</div>
				<a href="course.html" class="theme-btn btn-style-two"><span class="txt">Back to the homepage <i class="fa fa-angle-right"></i></span></a>
            </div>
        </div>
    </section>
    <!--End Error Section-->
	
	<!-- Call To Action Section Two -->
	<section class="call-to-action-section-two" style="background-image: url({% static 'images/background/3.png' %})">
		<div class="auto-container">
			<div class="content">
				<h2>Ready to get started?</h2>
				<div class="text">Replenish him third creature and meat blessed void a fruit gathered you’re, they’re two <br> waters own morning gathered greater shall had behold had seed.</div>
				<div class="buttons-box">
					<a href="#" class="theme-btn btn-style-one"><span class="txt">Get Stared <i class="fa fa-angle-right"></i></span></a>
					<a href="#" class="theme-btn btn-style-two"><span class="txt">All Courses <i class="fa fa-angle-right"></i></span></a>
				</div>
			</div>
		</div>
	</section>
	<!-- End Call To Action Section Two -->
    {% endblock %}