{% extends 'base.html' %}
{% load static %}
{% block title %} {{course.name}} {% endblock title %}

   {% block meta %}

   <!-- Primary Meta Tags -->
<meta name="title" content="{{course.name}}">
<meta name="description" content="{{ course.description }}">
<meta name="image" content="{{ course.thumbnail.url }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ course.slug }}">
<meta property="og:title" content="{{course.name}}">
<meta property="og:description" content="{{ course.description }}">
<meta property="og:image" content="{{ course.thumbnail.url }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ course.slug }}">
<meta property="twitter:title" content="{{course.name}}">
<meta property="twitter:description" content="{{ course.description }}">
<meta property="twitter:image" content="{{ course.thumbnail.url }}">


    {% endblock meta %}


	
    {% block schema %}


	<script type="application/ld+json">
[
{
"@context": "https://schema.org",
"@type": "Event",
"name": "{{course.name}}",
"description": "{{ course.description }}",
"image": "{{ course.thumbnail.url }}",
"url": "{{ course.slug }}"
"location": {
"@type": "website",
},
]
</script>



    {% endblock schema %}

{% load course_custom_tags %}
{% block body %}


	<!-- Page Title -->
    <section class="page-title">
        <div class="auto-container">
			<h1>Course Lesson</h1>
			
			<!-- Search Boxed -->
			<div class="search-boxed">
				<div class="search-box">    
					
				</div>
			</div>
			
        </div>
    </section>
    <!--End Page Title-->
	


	<!-- Intro Section -->
	<section class="intro-section-two">
		<div class="patern-layer-one paroller" data-paroller-factor="0.40" data-paroller-factor-lg="0.20" data-paroller-type="foreground" data-paroller-direction="vertical" style="background-image: url(images/icons/icon-1.png)"></div>
		<div class="patern-layer-two paroller" data-paroller-factor="0.40" data-paroller-factor-lg="-0.20" data-paroller-type="foreground" data-paroller-direction="vertical" style="background-image: url(images/icons/icon-2.png)"></div>

		<div class="auto-container">
			
			<div class="inner-container">
				<div class="row clearfix">
					
					<!-- Content Column -->
					<div class="content-column col-lg-8 col-md-12 col-sm-12">
						<div class="inner-column">
							
							<div class="course-video-box">
								<div style="padding:56.25% 0 0 0;position:relative;">
									 <video style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                                        allow="autoplay; fullscreen" allowfullscreen controls>
									<source src="{{video.video_id.url}}" type="video/mp4">
									Your browser does not support the video tag.
									</video> 
								</div>
									<script src="https://player.vimeo.com/api/player.js"></script>
							</div>
							
							<!-- Intro Info Tabs-->
							<div class="intro-info-tabs">
								<!-- Intro Tabs-->
								<div class="intro-tabs tabs-box">
								
									<!--Tab Btns-->
									<ul class="tab-btns tab-buttons clearfix">
										<li data-tab="#prod-overview" class="tab-btn active-btn">Overview</li>&ensp;
										&ensp; &ensp; &ensp; &ensp;
										<li data-tab="#prod-reviews" class="tab-btn">Reviews</li>
									</ul>
									



									<!--Tab Btns-->
									<ul class="tab-btns tab-buttons clearfix">
																			
									<!--Tabs Container-->
									<div class="tabs-content">
										
										<!--Tab / Active Tab-->
										<div class="tab active-tab" id="prod-overview">
											<div class="content">
												
												<!-- Cource Overview -->
												<div class="course-overview">
													<div class="inner-box">
														<h4>{{course.name}}</h4>
														<p>{{course.description | safe }}</p>


														<h3>Prerequisite</h3>
														<ul class="review-list">
                                                            {% for pre in course.prerequisite_set.all %}
                                                            <li>{{pre.description}}</li>
                                                            {% endfor %}
															
														</ul>
														<h3>Learnings</h3>
														<ul class="requirement-list">
                                                            {% for l in course.learning_set.all %}
                                                            <li class="">{{l.description}}</li>                                                            
                                                            {% endfor %}
                                                            
														</ul>

														
													</div>
												</div>
												
											</div>
										</div>
										

																				<!-- Tab -->
										<div class="tab" id="prod-reviews">
											<div class="content">

												{% for rs in rvs %}
												<div class="cource-review-box">
													<h4>Name: &ensp;{{ rs.user.first_name }}  {{ rs.user.last_name }}</h4>
													<div class="rating">
														<span class="total-rating">{{ rs.create_at }}</span> 
														<span class="fa fa-star{% if rs.rate < 1 %}-o empty{% endif %}" ></span>
														<span class="fa fa-star{% if rs.rate < 2 %}-o empty{% endif %}" ></span>
														<span class="fa fa-star{% if rs.rate < 3 %}-o empty{% endif %}" ></span>
														<span class="fa fa-star{% if rs.rate < 4 %}-o empty{% endif %}" ></span>
														<span class="fa fa-star{% if rs.rate < 5 %}-o empty{% endif %}" ></span>&ensp;
													</div>
													<div class="text">{{ rs.text }}</div>
													<br>
												</div>
												{% endfor %}

												
											</div>




{% if messages %}
              {% for message in messages %}

              <div class="alert alert-info">
                {{ message }}
                </div>
               {% endfor %}
              {% endif %}

				<!-- Login Form -->
				<div class="styled-form">
					<form method="post" action="/submit_review/{{course.id}}">
                        {% csrf_token %}
						<div class="form-group ">
							<label>Your FeedBack </label>
							<textarea type="text" name="text" value="" column="5" placeholder="Your FeedBack " required></textarea>
						</div>

						<div class="cource-review-box">
							<div class="rating">
								<input type="radio" name="rate" value="1" /><span class="fa fa-star" ></span>
								<input type="radio" name="rate" value="2" /><span class="fa fa-star" ></span>
								<input type="radio" name="rate" value="3" /><span class="fa fa-star" ></span>
								<input type="radio" name="rate" value="4" /><span class="fa fa-star" ></span>
								<input type="radio" name="rate" value="5" /><span class="fa fa-star" ></span>
							</div>
						</div>
						{% if user.id is not None %}
						<div class="form-group text-center">
							<button type="input" class="theme-btn btn-style-three"><span class="txt">Login <i class="fa fa-angle-right"></i></span></button>
						</div>
						
						{% else %}
							You must be logged in to post a review
						{% endif %}
					</form>


				</div>





										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					




					<!-- Accordian Column -->
					<div class="accordian-column col-lg-4 col-md-12 col-sm-12">
						<div class="inner-column sticky-top">
							<h4>Course Lectures</h4>
							<!-- Accordion Box -->
							<ul class="accordion-box style-two">

								  <!-- leacture list -->

								<!-- Block -->
								{% is_enrolled request course as enrolled %}
                        		{% for v in videos %}	
								<li class="list-group-item {% if v == video %} active-video {% endif %} ">
                             <a class="{% if not enrolled and not v.is_preview %} text-muted no-preview {% endif %} {% if v == video %} active-video-link {% endif %} " href="?lecture={{v.serial_number}}">
                                 {{v}}
                                </a>
                            </li>
								{% endfor %}

							</ul>
							
						</div>
					</div>
					
				</div>
			</div>
		
		</div>
	</section>
	<!-- End intro Courses -->





{% endblock %}